#sidebar-wrapper,#navRight {
  margin:0;
  padding:0;
  width:122px;
  list-style:none;
  overflow:hidden;
}
#sidebar-wrapper h2 a:hover {
  background-position:0 -20px;
  color:#016001;
  margin:0;
}
#sidebar-wrapper h2,
#navRight a {color:#fff;}
#sidebar-wrapper h2 {
  width:122px;
  overflow:hidden;
  text-transform:uppercase;
  font-size:9px;
  font-weight:bold;
  display:block;
  height:20px;
  padding-left:25px;
  line-height:20px;
  margin:0;
}
#sidebar-wrapper .info-box img {
  width:100px;
  height:74px;
  margin:4px 11px;
  opacity:0.3;
}
#sidebar-wrapper .info-box img:hover {opacity:9;}
#menuKiri {
  width:122px;
  float:left;
}
#menuKiri p {
  margin:12px 0 0 32px;
  font-size:9px;
  color:#000;
  font-weight:bold;
  text-transform:uppercase;
}
.li_nav_content {
  display:block;
  width:122px;
  height:20px;
}
margin:0;
  width:122px !important;
  height:auto;
}
.isi p {
  margin:0 10px auto 12px !important;
  padding-top:10px !important;
  text-transform:none !important;
  font-size:9px !important;
  font-weight:normal !important;
  color:#707070 !important;
}
.isi a {color:#707070 !important;}
.isi ul {
  margin:0 3px 0 24px !important;
  padding:10px 0 10px 0 !important;
  text-transform:none !important;
  font-size:9px !important;
  font-weight:normal !important;
  color:#707070 !important;
}