.post {margin:0 0 15px 0;}
.post-footer {
  padding:5px;
  margin:30px 0 10px 0 !important;
  border-top:1px solid #016001;
  border-bottom:1px solid #016001;
}
.postmeta {
  color:#016001;
  border-top:1px solid #016001;
  margin-top:15px;
  padding:4px 0 0 0;
}
.post blockquote {
  display:block;
  font-style:normal;
  color:#555;
  padding:15px 18px 15px 10px;
  position:relative;
  background-color:#f8e38d;
  border-radius:4px;
  border-bottom:1px solid rgba(0,0,0,.1);
  margin:0 0 0 12px;
}
.post blockquote:after {
  font-family:'fontAwesome';
  display:block;
  position:absolute;
  bottom:5px;
  right:16px;
  color:rgba(0,0,0,.18);
  font-size:50px;
  line-height:1;
}
.post blockquote:after {content:"\f05a";}
.post blockquote p {
  margin:0;
  padding:0 0 5px;
}
.post-title {
  margin:0;
  line-height:1.5em;
  background:url('http://kod-project.googlecode.com/svn/kod/images/icon_arrow.gif') no-repeat 0 .5em;
  display:block;
  padding:2px 14px 2px 15px;
  color:#333;
}
.date {
  color:#016001;
  text-decoration:overline;
  padding:10px 0 20px 0;
}
.date-header {
  border-bottom:1px solid #016001;
  margin-bottom:6px;
  padding-bottom:2px;
}
.date a,
.postmeta a {border-bottom:1px dotted #016001;}
.comments {
  padding:.6em !important;
  clear:both;
  display:none;
}
#comments li.comment div.avatar-image-container,
#comments li.comment div.avatar-image-container img {
  float:none;
  display:block;
  max-width:none;
  max-height:none;
  width:16px !important;
  height:16px !important;
  padding-top:15px;
}
#comments li.comment div.comment-block {margin-left:20px !important;}